/* custom-default.css */
/* @theme custom-default */

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';
@import 'default';

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }

svg[id^="mermaid-"] { 
  min-width: 480px; 
  max-width: 960px; 
  min-height: 360px; 
  max-height: 600px; 
}
