@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a href="Providers">Providers</a></li>
    <li><a href="InjectConfig">Injected Configuration</a></li>
    <li><a href="InjectedIOptions">Injected IOptions&lt;T&gt;</a></li>
    <li><a href="InjectedIOptionsSnapshot">Injected IOptionsSnapshot&lt;T&gt;</a></li>
    <li><a href="InjectedIOptionsMonitor">Injected IOptionsMonitor&lt;T&gt;</a></li>
</ul>